{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <h1>Edit User</h1>

    <form action="{{ url_for('api_edit_user') }}" method="post">
        <input type="hidden" name="rfid" value="{{ user.rfid }}">

        <div class="form-group">
            <label for="nombre">Name</label>
            <input type="text" name="nombre" id="nombre" class="form-control" value="{{ user.nombre }}">
        </div>

        <div class="form-group">
            <label for="apellidos">Last Name</label>
            <input type="text" name="apellidos" id="apellidos" class="form-control" value="{{ user.apellidos }}">
        </div>

        <div class="form-group">
            <label>Doors</label>
            {% for door in doors %}
            <div class="form-check">
                <input type="checkbox" name="doors" id="door-{{ door.id_puerta }}" value="{{ door.id_puerta }}" class="form-check-input" {% if door in user.puertas %}checked{% endif %}>
                <label for="door-{{ door.id_puerta }}" class="form-check-label">{{ door.nombre }}</label>
            </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
